.github/**
.vscode/**
.vscode-test/**
node_modules/**
.pnpm/**
artifacts/**
out/**
scripts/**
src/**
.gitignore
.yarnrc
CONVENTIONS.md
conventions/**
pnpm-lock.yaml
pnpm-workspace.yaml
**/tsconfig.json
**/eslint.config.mjs
esbuild.js
**/*.map
**/*.ts
**/.vscode-test.*
.husky/**
*.touch
*.cache
.node-version
.comate